body {
    font-family: sans-serif;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

h2 {
    font-size: 60px;
    font-weight: 600;
}

.sub-heading-color {
    color: var(--subtitle-Clr);
}


/* body::-webkit-scrollbar {
    display: none;
} */


/*=====================================
              THEMES
=======================================*/

:root {
    /* ===== Colors ===== */
    --hero-bg: url("Images/bg-light.png");
    --sidebar-color: #fff;
    --primary-color: #3B3280;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --skillsec-Clr: #F0F8FF;
    --experience-head: #CD2147;
    /*commom*/
    --text-Clr: #000;
    /*profile-text*/
    --profile-head: #0E2431;
    /*myskills-textclr*/
    --heading-text: #0E2431;
    --Exp-num: #0E2431;
    --Exp-numintext: #0E2431;
    /*Experience card*/
    --Exp-cardClr: #e4e4e4;
    --exp-brdleft: #dddddd;
    --bg-cardcenter-circle: #202020;
    --exp-brdright: #dddddd;
    --cardtext-Clr: #000 !important;
    /*skill-sec-para*/
    --skillsec-para: #0E2431;
    /*sub-heading-clr*/
    --subtitle-Clr: #0E2431;
    /*contact-page*/
    --form-input-bg: #F3F3F3;
    --btn-Clr: #000;
    --btn-text-Clr: #fff;
    /*footer*/
    --footer-btm: #d4d3d3;
    --copyright-area-bg: rgb(5, 5, 5);
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --hero-bg: url("Images/bg-dark.png");
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --skillsec-Clr: #3a3b3c;
    --experience-head: #CD2147;
    /*commom*/
    --text-Clr: white;
    /*profile-text*/
    --profile-head: #000;
    /*myskills-textclr*/
    --heading-text: #000;
    --Exp-num: #000;
    --Exp-numintext: #000;
    /*Experience card*/
    --Exp-cardClr: #202020;
    --exp-brdleft: #161616;
    --bg-cardcenter-circle: #dddd;
    --exp-brdright: #161616;
    --cardtext-Clr: #ffff;
    /*skill-sec-para*/
    --skillsec-para: #fff;
    /*sub-heading-clr*/
    --subtitle-Clr: #000;
    /*contact-page*/
    --form-input-bg: #242424;
    --btn-Clr: #ffff;
    --btn-text-Clr: rgb(5, 5, 5);
    /*footer*/
    --footer-btm: #242424;
    --copyright-area-bg: #18191A;
}


/*=====================================
              NAVBAR
=======================================*/


/* ===== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: transparent;
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}


/* ===== Reusable code - Here ===== */

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}


/* =========================== 
           SIDEBAR
==============================*/

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 100%;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    left: -29px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
    color: white;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.nav-link {
    padding: 0% !important;
}


/*=====================================
              HERO SECTION
=======================================*/

.profile-para {
    color: var(--text-Clr);
}

.profile-head {
    color: var(--profile-head)
}

.home.type-3 {
    background: var(--hero-bg) bottom center;
    width: 100%;
    display: table;
    position: relative;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.home.type-3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.home-content h2 {
    margin-top: -150px;
    color: white;
    margin-left: 15px;
}

.home-content {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    z-index: 2;
    position: relative;
    margin-top: -79px;
}

#scene {
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: -10px;
    z-index: 100;
}

#scene .l1 {
    margin-left: -399px;
}

#scene .l2 {
    margin-top: 100px;
}

#scene .l3 img {
    margin-left: 181%;
    margin-top: 100px;
}

p {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
}


/*====================================
               MY SKILLS
======================================*/

.skill-section {
    padding-top: 40px;
}

.content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.skills-leftHeading {
    color: var(--subtitle-Clr);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.title span {
    color: var(--heading-text);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.title span::before,
.title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #CD2147;
    left: 0;
    bottom: 0;
}

.title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.skills {
    background: var(--skilisec-Clr);
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: var(--skillsec-para);
    text-align: justify;
}

.skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.skills-details .experience .num {
    color: var(--Exp-num);
    font-size: 80px;
}

.skills-details .experience .exp {
    color: var(--Exp-numintext);
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .topic {
    font-size: 20px;
    color: var(--experience-head);
}

.skills-details .per {
    font-size: 60px;
    color: var(--experience-head);
}

.Percent {
    font-size: 30px;
}


/*====================================
             EPERIENCE
======================================*/

.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #EF233C;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: var(--bg-cardcenter-circle);
    border: 2px solid #EF233C;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 46px;
    right: 10px;
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent transparent var(--exp-brdleft);
}

.experience .timeline .timeline-item.right::before {
    left: 10px;
    border-color: transparent var(--exp-brdright) transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #EF233C;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: var(--Exp-cardClr);
    position: relative;
    border-right: 5px solid var(--exp-brdright);
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid var(--exp-brdleft);
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: var(--subtitle-Clr);
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
    color: var(--cardtext-Clr);
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }
    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }
    .experience .timeline .timeline-item.left::after,
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}


/*====================================
           CONTACT FORM
======================================*/

.heading {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-Clr);
}

.para {
    color: var(--text-Clr);
}

.form-control::placeholder {
    color: var(--text-Clr);
}

.styleForm {
    border: none;
    background: var(--form-input-bg);
}

.styleForm:active,
.styleForm:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: var(--form-input-bg);
}

.tetareaStyle {
    border: none;
    background: var(--form-input-bg);
}

.tetareaStyle:active,
.tetareaStyle:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: var(--form-input-bg);
}

.btn {
    height: 50px;
}

.btnSubmit {
    border: none;
    border-radius: 4px !important;
}

.btnSubmit {
    background: var(--btn-Clr);
    color: var(--btn-text-Clr);
    padding: 15px 20px;
}

.btnSubmit:hover {
    color: var(--btn-text-Clr);
}

.btnSubmit:active,
.btnSubmit:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#message {
    resize: vertical;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}


/*====================================
             FOOTER
======================================*/

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: transparent;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid var(--footer-btm);
}

.single-cta i {
    color: #F32147;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: var(--text-Clr);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #828282;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #828282;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.github-bg {
    background: #1d1d1d;
    color: white;
}

.insta-bg {
    color: white;
    width: 100px;
    height: 100px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.footer-widget-heading h3 {
    color: var(--text-Clr);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #F32147;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #F32147;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background-color: var(--copyrigt-area-bg);
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #F32147;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
    transition: 1.2s;
}

.footer-menu li:hover a {
    color: #f32147;
    transition: 1s;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}


/* ---- particles-star container ---- */

@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}

.star-field {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}

.star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}

.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}

.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}

.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}